.cashregister
{
  
    height: 60%;
    background-color: 	#556B2F;
    margin-left:auto;
    margin-right:auto;
    position: relative;
}


h2,p
{
    color:white;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    padding-top: 2rem;
    position: relative;
   
}



table
{
  border-collapse: collapse;
  color: white;

}

.returnChangeContainer 
{
    width:90%;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;

}

button
{
    background-color: white;
    padding:0.5rem;
}
@media only screen and (max-width: 600px) {
    .Check
    {
        background-color: white;
        padding:0.5rem;
        padding-right: 0.5rem;
    }
}